<p>
  <b>Hi</b>
  <%= @user.name %>
</p>

<p>
  <b>Interests:</b>
  <%= @user.interests %>
</p>

<p>
  <b>Lights:</b>
   <% @user.lights.each do |light| %>
    <b> <%= light.user.name %> </br>
    <b> <%= light.topic %> </b> </br>
    <b> <%= light.message %> </b> </br>
    <%= link_to 'Delete', user_light_path(@user, light), method: :delete, data: { confirm: 'Are you sure?' } %>

  </br>
  <% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</br>
</br>
<%= link_to 'Enlight', new_user_light_path(@user) %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
