<H1>Welcome to Enlight</h1>

<p>Sign Up</p>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_message">
      <h2>Form is invaild</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>


  <p>
    <%= f.label :interests %><br />
    <%= f.text_field :interests %>
  </p>


  <p class="button"><%= f.submit %></p>

<% end %>

<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>


<%= link_to 'about' %>

