<h1>Hi <%= @user.name %> lets Enlight someone</h1>

<%= form_for [@user, @light] do |f| %>
	Light topic: <%= f.text_field :topic %></br>
	Light message: <%= f.text_field :message %>
	<%= f.submit %>
<% end %> 






