<p id="notice"><%= notice %></p>

<p>
  <b>Topic:</b>
  <%= @light.topic %>
</p>

<p>
  <b>Message:</b>
  <%= @light.message %>
</p>


<%= link_to 'Edit', edit_light_path(@light) %> |
<%= link_to 'Back', lights_path %>
